src/main/resources/xsd/delivery_shippers.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="delivery_shippers">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="idShippers"/>
                <xs:element type="xs:date" name="date_creation"/>
            </xs:sequence>
            <xs:attribute type="xs:long" name="idDelivery"/>
        </xs:complexType>
    </xs:element>
</xs:schema>