src/main/resources/xsd/payments.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="payments">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:long" name="idOrders"/>
                <xs:element type="xs:double" name="amount_payments"/>
                <xs:element type="xs:date" name="date_payments"/>
            </xs:sequence>
            <xs:attribute type="xs:long" name="id_payments"/>
        </xs:complexType>
    </xs:element>
</xs:schema>